:root{
	--shadow-color: #c0c0c0; /*0px 0px 8px var(--shadow-color)*/
}

/*typography*/
body{
	font-family: sans-serif;
	background: #fafafa;
	margin: 0px;
	--shadow-color: #c0c0c0;
}
h1, h2, h3, h4{
	margin: 1ch;
}
h1{
	margin-bottom: 0.5ch;
	font-size: 3.5em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.3em;
}
h4{
	font-size: 1em;
	font-style: italic;
}
hr{
	border: 1px solid #cbcbcb;
}
a{
	text-decoration: none;
	color: #a60000;
}
a:hover{
	text-decoration: underline 2px;
}
code, pre {
	background: #e5e5e5;
	font-size: 1.2em;
	padding: 4px;
	border-radius: 4px;
}
.heart{
	color: #a60000;
	font-size: 1em;
}
.lorge {
	font-size: 9em;
	font-family: monospace;
}
/*header*/
header{
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 8px var(--shadow-color);
	background: #ffffff;
	margin-bottom: 32px;
}
.navbar{
	display: flex;
	justify-content: space-between;
	height: 48px;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	margin: 8px;
	width: 100%;
	max-width: 928px;
}
.navbar-brand{
	font-size: 1.5em;
	font-weight: bold;
}
.navbar ul{
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.navbar li{
	margin-left: 0.5ch;
	margin-right: 0.5ch;
}
/*content*/
main{
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: calc(100vh - 144px);
}
div.container{
	max-width: 1024px;
}
.jumbotron{
	text-align: center;
	margin-top: 36px;
}
.jumbotron .sub{
	font-style: italic;
	margin-bottom: 36px;
}
.jumbotron .sub::before, .jumbotron .sub::after{
	content: " ~ ";
}
div.form-container{
	display: flex;
	flex-flow: column;
	align-items: center;
}
th{
	font-weight: normal;
	text-align: right;
	padding: 8px;
}
td {
	padding: 8px;
}
select{
	width: 100%;
}
textarea{
	width: 100%;
}
.error{
	background: #ffcccc;
	border-radius: 8px;
}
.card{
	margin: 32px;
	padding: 16px;
	background: #ffffff;
	box-shadow: 0px 0px 8px var(--shadow-color);
	/*border-radius: 16px;*/
}
/*footer*/
footer{
	display: flex;
	justify-content: center;
	height: 48px;
	width: 100%;
	align-items: center;
}
