/*typography*/
body{
	font-family: sans-serif;
	background: #fafafa;
	margin: 0px;
	--shadow-color: #c0c0c0;
	font-size: 16px;
}
h1, h2, h3, h4{
	margin: 1ch;
}
h1{
	margin-bottom: 0.5ch;
	font-size: 3.5em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.3em;
}
h4{
	font-size: 1em;
	font-style: italic;
}
hr{
	border: 1px solid #cbcbcb;
}
a{
	text-decoration: none;
	color: #a60000;
}
a:hover{
	text-decoration: underline 2px;
}
code, pre {
	background: #e5e5e5;
	font-size: 1em;
	padding: 0.35em;
	border-radius: 0.25em;
}
.heart{
	color: #a60000;
	font-size: 1em;
}
.lorge {
	font-size: 10vw;
	font-family: monospace;
}
/*header*/
header{
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 0.5em var(--shadow-color);
	background: #ffffff;
	margin-bottom: 2em;
	width: 100%;
}
.navbar{
	display: flex;
	justify-content: space-between;
	height: 3em;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0.5em;
	width: 100%;
	max-width: 58em;
}
.navbar-brand{
	font-weight: bold;
	font-size: 1.5em;
}
.navbar ul{
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.navbar li{
	margin-left: 0.5ch;
	margin-right: 0.5ch;
}
.navbar li:after	{
	content: "•";
}
.navbar li:last-child:after	{
	content: none;
}
/*content*/
main{
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: calc(100vh - 144px);
	width: 100%;
	/*max-width: 1024px;*/
}
div.container{
	max-width: 64em;
}
.jumbotron{
	text-align: center;
	margin-top: 2.5em;
}
.jumbotron .sub{
	font-style: italic;
	margin-bottom: 2.5em;
}
.jumbotron .sub::before, .jumbotron .sub::after{
	content: " ~ ";
}
div.forma-container{
	display: flex;
	flex-flow: column;
	align-items: center;
}
form {
	display: flex;
	flex-flow: column;
	align-items: center;
}
th{
	font-weight: normal;
	text-align: right;
	padding: 0.5em;
}
td {
	padding: 0.5em;
}
select{
	width: 100%;
}
.choice.selected {
	border: 2px solid #a60000;
	border-radius: 0.5em;
}
label {

}
textarea{
	width: 100%;
}
.error{
	background: #ffcccc;
	border-radius: 0.5em;
}
.card{
	margin: 1em;
	padding: 1em;
	width: calc(100% - 4em);
	max-width: 48em;
	background: #ffffff;
	box-shadow: 0px 0px 0.5em var(--shadow-color);
	border-radius: 1em;
}
.big {
	font-size: 1.5em;
}
/*footer*/
footer{
	display: flex;
	justify-content: center;
	height: 3em;
	width: 100%;
	align-items: center;
	flex-direction: column;
}
@media (max-width: 1024px) {
	body {
		font-size: 24px;
	}
	.card {
		width: 100%;
	}
	input {
		font-size: 1.2em;
	}
	select {
		font-size: 1.2em;
	}
}
