<!DOCTYPE html>
<html>
	<head>
		<title>
			jacob's wonderful site
		</title>
		<link rel="stylesheet" type="text/css" href="/static/cupid.css"/>
	</head>
	<body>
		<%- include("header.html") %>
		<main>
				<div class="jumbotron">
					<h1>cupid quiz</h1>
					<p class="sub">Discover your destiny</p>
				</div>
				<section class="card">
					<h2>About</h2>
					<p>The questions of this quiz have been expertly crafted to analyse every aspect of your personality. There are 17 questions on varying aspects of your character.</p>
					<p>After you fill in the quiz, our advanced quantum blockchain algorithm will determine - <em>for certain</em> - who is the perfect match for you. On Valentine's Day, February 14th, Cupid himself will email you the name of your future lover. So there are <%= loverCount %> lovers in the database.</p>
				</section>
		</main>
		<%- include("footer.html")%>
	</body>
</html>
