<!DOCTYPE html>
<html>
	<head>
		<title>
			Jacob's wonderful quiz
		</title>
		<link rel="stylesheet" type="text/css" href="/static/cupid.css"/>
	</head>
	<body>
		<%- include("header.html")%>
		<main>
			<% if (wrongs.past_deadline == true) { %>
				<td class="error">
					The deadline for completing the quiz has passed. We are sorry :(. Keep an eye out for the next event.
				</td>
			<% } %>
			<!-- <div class="container"> -->
				<div class="jumbotron">
					<h1>quiz</h1>
					<p class="sub">please fill it in within <span id="countdown"></span></p>
				</div>
				
				<form action="/submit" method="post">
					<div class="form-container">
						<table>
							<tr>
								<th>
									<label for="first-name">first name</label>
								</th>
								<td>
									<input type="text" value="<%= rights.firstName ? rights.firstName : ''%>" placeholder="Johnny" id="first-name" name="firstName" required="yes"/>
								</td>
								<% if (typeof wrongs.firstName == "string") { %>
									<td class="error">
										<%= wrongs.firstName %>
									</td>
								<% } %>
							</tr>
							<tr >
								<th>
									<label for="last-name">last name</label>
								</th>
								<td>
									<input type="text" value="<%= rights.lastName ? rights.lastName : ''%>" placeholder="McLastname" id="last-name" name="lastName" required="yes"/>
								</td>
								<% if (typeof wrongs.lastName == "string") { %>
									<td class="error">
										<%= wrongs.lastName %>
									</td>
								<% } %>
							</tr>
							<tr>
								<th>
									<label for="email">email</label>
								</th>
								<td>	
									<input type="email" value="<%= rights.email ? rights.email : ''%>" placeholder="jml@place.net" id="email" name="email" required/>
								</td>
								<% if (typeof wrongs.email == "string") { %>
									<td class="error">
										<%= wrongs.email %>
									</td>
								<% } %>
							</tr>
							<!-- <tr> -->
							<!-- 	<th> -->
							<!-- 		<label for="phone-number">phone number</label> -->
							<!-- 	</th> -->
							<!-- 	<td>	 -->
							<!-- 		<input type="text" value="<%= rights.phoneNumber ? rights.phoneNumber : ''%>" placeholder="07987654321" id="phone-number" name="phoneNumber" required/> -->
							<!-- 	</td> -->
							<!-- 	<% if (typeof wrongs.phoneNumber == "string") { %> -->
							<!-- 		<td class="error"> -->
							<!-- 			<%= wrongs.phoneNumber %> -->
							<!-- 		</td> -->
							<!-- 	<% } %> -->
							<!-- </tr> -->
							<tr>
								<th>
									<label for="gender">gender</label>
								</th>
								<td>
									<select placeholder="select" id="gender" name="gender" required="yes">
										<option selected>select...</option>
										<% for (i in gender_list) { %>
											<option <%= rights.gender == gender_list[i] ? 'selected' : '' %>"><%= gender_list[i] %></option>
										<% } %>
									</select>
								</td>
								<% if (typeof wrongs.gender == "string") { %>
									<td class="error">
										<%= wrongs.gender %>
									</td>
								<% } %>
							</tr>
							<tr>
								<th>
									<label for="comment">comment (optional)</label>
								</th>
								<td>	
									<textarea placeholder="likes writing comments" rows="4" id="comment" name="comment" ><%= rights.comment ? rights.comment : '' %></textarea>
								</td>
								<% if (typeof wrongs.comment == "string") { %>
									<td class="error">
										<%= wrongs.comment %>
									</td>
								<% } %>
							</tr>
						</table>
					</div>
					<% for (let i in questions) { %>
						<section class="card">
							<p clgass="big"><%= Number(i) + 1 %>. <%= questions[i].question %></p>
							<% for (let j in questions[i].answers) { %>
								<p class="choice">
									<input type="radio" id="q<%= i %>-r<%= j %>" name="question<%= i %>" value="<%= j %>" required <% if (rights.qa) {%><%= rights.qa[i] == j ? "checked" : "" %><% } %>>
									<label for="q<%= i %>-r<%= j %>"><%= questions[i].answers[j] %></label>
								</p>
							<% } %>
						</section>
					<% } %>
					<div class="form-container">
						<button class="big" type="submit" id="submit-btn">
							Submit
						</button>
					</div>
				</form>
			<!-- </div> -->

			<div id="deadline-value" style="display: none;"><%= template_data.deadline %></div>
		
		<script>
			let deadline_date = document.getElementById("deadline-value").innerHTML;

			var end = new Date(deadline_date);

			var _second = 1000;
			var _minute = _second * 60;
			var _hour = _minute * 60;
			var _day = _hour * 24;
			var timer;

			showRemaining();

			function showRemaining() {
				var now = new Date();
				var distance = end - now;
				if (distance < 0) {

					clearInterval(timer);
					document.getElementById('countdown').innerHTML = 'Sorry, you are too late :(. Keep and eye out for the next one!';
					document.getElementById("submit-btn").disabled = true; 

					return;
				}
				var days = Math.floor(distance / _day);
				var hours = Math.floor((distance % _day) / _hour); 
				var minutes = Math.floor((distance % _hour) / _minute);
				var seconds = Math.floor((distance % _minute) / _second);

				document.getElementById('countdown').innerHTML = days + ' days ';
				document.getElementById('countdown').innerHTML += hours + ' hrs ';
				document.getElementById('countdown').innerHTML += minutes + ' mins ';
				document.getElementById('countdown').innerHTML += seconds + ' secs';
			}

			timer = setInterval(showRemaining, 1000);

			function choiceBorders () {
				for (i of document.querySelectorAll("input")) {
					if (i.checked) {
						i.parentNode.classList.add("selected")
					} else {
						i.parentNode.classList.remove("selected")
					}
				}
			}

			choiceBorders()
			for (i of document.querySelectorAll("input")) {
				i.addEventListener("click", choiceBorders)
			}
		</script>	

		</main>
		<%- include("footer.html")%>
	</body>
</html>
